@model WebPhongKham.Models.DonHang
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout-admin.cshtml";
}

<h4>Tạo đơn hàng mới</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="NgayDatHang" class="control-label"></label>
                    <input asp-for="NgayDatHang" class="form-control" type="date" />
                    <span asp-validation-for="NgayDatHang" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="DienThoai" class="control-label"></label>
                    <input asp-for="DienThoai" class="form-control" />
                    <span asp-validation-for="DienThoai" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="ThongTinSanPham" class="control-label"></label>
                    <input asp-for="ThongTinSanPham" class="form-control" />
                    <span asp-validation-for="ThongTinSanPham" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="DiaChi" class="control-label"></label>
                    <input asp-for="DiaChi" class="form-control" />
                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="TongTienSanPham" class="control-label"></label>
                    <input asp-for="TongTienSanPham" class="form-control" />
                    <span asp-validation-for="TongTienSanPham" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="PhiShip" class="control-label"></label>
                    <input asp-for="PhiShip" class="form-control" />
                    <span asp-validation-for="PhiShip" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="idKhachHang" class="control-label"></label>
                    <select asp-for="idKhachHang" class="form-control" asp-items="ViewBag.idKhachHang"></select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="HinhAnh" class="control-label"></label>
                    <input asp-for="HinhAnh" class="form-control" type="file" name="hinhAnh" />
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
