@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/clienttemplate/images/about-img.jpg" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About <span>Hospital</span>
                        </h2>
                    </div>
                    <p>
                        has a more-or-less normal distribution of letters, as opposed to using 'clienttemplate here, clienttemplate here', making it look like readable English. Many desktop publishing packages and web page editors has a more-or-less normal distribution of letters, as opposed to using 'clienttemplate here, clienttemplate here', making it look like readable English. Many desktop publishing packages and web page editors
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
